// .pagination.theme {
//     .page-item {
//         .page-link {
//             background-color: #111025;
//             color: #fff;
//             border: 1px solid #111025;
//         }
//     }

//     .page-tem{
//         .page-link{
//         }
//     }
// }
.table-users{
    .box-h1-select{
        display: flex;
        justify-content: space-between;
        align-items: center;
        select{
            display: block;
            height: 30px; 
        }
    }
    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 10px;
    
    }
}