.form-group{
    .box-ip-ic{
        position: relative;
        .icon-eye{
            position: absolute;
            top: 0;
            right: 0;
            padding: 11px;
            cursor: pointer;
        }
    }
}
.box-forgot-password{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .link{
        text-decoration: none;
    }
}