.content-menu {
    background-color: #fcfdfd;
    .box-ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0;
        padding: 10px;

        .item-li {
            list-style: none;
            .item-nav.active {
                background-color: #f6f9ff;
                
                color: #4154f1;

                .icon-menu {
                    color: #4154f1;
                }
            }

            .item-nav {
                border-radius: 7px;
                padding: 5px 10px;
                text-decoration: none;
                display: flex;
                color: #012970;
                gap: 10px;
                font-size: 1.2rem;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                .icon-menu {
                    color: #899bbd;
                    transition:color 0.3s ease-in-out;
                }

                &:hover {
                    background-color: #f6f9ff;
                    color: #4154f1;
                    .icon-menu {
                        color: #4154f1;
                    }
                }
            }
        }
    }
}