.modal-delete.theme{
    .modal-header{
        background-color: #2e2e3e;
        .modal-title{

            color: #fff;
        }
        .btn-close{
            color: #fff !important;
        }
    }
    .modal-body{
        background-color: #2e2e3e;
            color: #fff;
    }
    .modal-footer{
        background-color: #2e2e3e;
            color: #fff;
    }
}