.layout-statistical.theme {
    background-color: #2e2e3e;
    .collapsed {
        background-color: #1e1e2e;
        color: white;
    }

    .show {
        background-color: #2e2e3e;

    }
    .accordion-body{
        background-color: #2e2e3e;
    }

    .accordion-button {
        background-color: #1e1e2e;
        color: #fff;
        &::after{
        background-color: white;
        }
    }

    .box-row3 {

        .layout-payment {
            .box-payment {
                .select {
                    select {
                        color: #2e2e3e;
                        border: 1px solid #2e2e3e;
                    }
                }
            }

            .containerStyle {
                background-color: #1e1e2e;
            }
        }

        .layout-table-statistical {
            .box-table {
                .select {
                    select {
                        color: #2e2e3e;
                        border: 1px solid #2e2e3e;
                    }
                }
            }

            .containerStyle {
                background-color: #1e1e2e;
            }
        }

        .layout-revenue {
            .box-revenue {
                .select {
                    select {
                        color: #2e2e3e;
                        border: 1px solid #2e2e3e;
                    }
                }
            }

            .containerStyle {
                background-color: #1e1e2e;
            }
        }

        .layout-menuitem-best-selling {
            .box-menuitem {
                .select {
                    select {
                        color: #2e2e3e;
                        border: 1px solid #2e2e3e;
                    }
                }
            }

            .containerStyle {
                background-color: #1e1e2e;
            }
        }

        .layout-menu-item-statistical {
            .content-menu-item{
                .select {
                    select {
                        color: #2e2e3e;
                        border: 1px solid #2e2e3e;
                    }
                }
            }

            .containerStyle {
                background-color: #1e1e2e;
            }
        }
                .layout-order-statistical {
                    .content-order {
                        .select {
                            select {
                                color: #2e2e3e;
                                border: 1px solid #2e2e3e;
                            }
                        }
                    }
        
                    .containerStyle {
                        background-color: #1e1e2e;
                    }
                }
                                .layout-average-statistical {
                                    .content-average {
                                        .select {
                                            select {
                                                color: #2e2e3e;
                                                border: 1px solid #2e2e3e;
                                            }
                                        }
                                    }
                
                                    .containerStyle {
                                        background-color: #1e1e2e;
                                    }
                                }
    }
}

.layout-statistical {
    min-height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .box-row3 {
        .layout-average-statistical {
            .content-average {
                .select {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                
                        select {
                            padding: 5px 15px;
                            color: #E8900C;
                            border: 1px solid #E8900C;
                            outline: none;
                        }
                    }
                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .box-date {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                position: relative;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }
        }

        .layout-menu-item-statistical {
            .content-menu-item {
                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .select {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    select {
                        padding: 5px 15px;
                        color: #E8900C;
                        border: 1px solid #E8900C;
                        outline: none;
                    }
                }

                .box-menu {
                    display: flex;
                    justify-content: space-between;



                }

            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                position: relative;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }
        }

        .layout-order-statistical {
            .content-order {
                .select {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                
                        select {
                            padding: 5px 15px;
                            color: #E8900C;
                            border: 1px solid #E8900C;
                            outline: none;
                        }
                    }
                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .box-date {
                    display: flex;
                    justify-content: space-between;

                    .box-month {
                        display: flex;

                    }
                }
            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                position: relative;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }

        }

        .layout-revenue {
            .box-revenue {
                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .box-date {
                    display: flex;
                    justify-content: space-between;

                    .box-month {
                        display: flex;

                    }
                }
            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }
        }

        .layout-menuitem-best-selling {
            .box-menuitem {
                .select {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    select {
                        padding: 5px 15px;
                        color: #E8900C;
                        border: 1px solid #E8900C;
                        outline: none;
                    }
                }

                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }


                .box-date {
                    display: flex;
                    justify-content: space-between;

                    .box-month {
                        display: flex;

                    }
                }
            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }
        }



        .layout-table-statistical {
            .box-table {
                .select {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    select {
                        padding: 5px 15px;
                        color: #E8900C;
                        border: 1px solid #E8900C;
                        outline: none;
                    }
                }

                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .select-table {
                    display: flex;
                    justify-content: space-between;
                }

            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }


            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }

            .box-2 {
                display: flex;

                .box-text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                }

                .text-color {
                    font-size: .9rem;
                }
            }



        }

        .layout-payment {
            .box-payment {
                .select {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    select {
                        padding: 5px 15px;
                        color: #E8900C;
                        border: 1px solid #E8900C;
                        outline: none;
                    }
                }

                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .find-data {
                    display: flex;
                    justify-content: space-between;
                }

                .box-date {
                    display: flex;
                    gap: 8px;

                }
            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                position: relative;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }


        }
    }


}