.layout-statistical {
    min-height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .box-row3 {
        .layout-average-statistical {
            .content-average {
                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .box-date {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                position: relative;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }
        }

        .layout-menu-item-statistical {
            .content-menu-item {
                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .box-menu {
                    display: flex;
                    justify-content: space-between;



                }

            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                position: relative;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }
        }

        .layout-order-statistical {
            .content-order {
                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .box-date {
                    display: flex;
                    justify-content: space-between;

                    .box-month {
                        display: flex;

                    }
                }
            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                position: relative;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }

        }

        .layout-revenue {
            .box-revenue {
                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .box-date {
                    display: flex;
                    justify-content: space-between;

                    .box-month {
                        display: flex;

                    }
                }
            }

            .containerStyle3 {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }
        }

        .layout-menuitem-best-selling {
            .box-menuitem {
                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .box-date {
                    display: flex;
                    justify-content: space-between;

                    .box-month {
                        display: flex;

                    }
                }
            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }
        }



        .layout-table-statistical {
            .box-table {
                h1 {
                    font-size: 1.2rem;
                    color: #E8900C;
                    padding: 0;
                    margin: 0;
                }

                .select-table {
                    display: flex;
                    justify-content: space-between;
                }

            }

            .containerStyle2 {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }


            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }

            .box-2 {
                display: flex;

                .box-text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                }

                .text-color {
                    font-size: .9rem;
                }
            }



        }

        .layout-payment {
            .box-payment {
                h1 {
                        font-size: 1.2rem;
                        color: #E8900C;
                        padding: 0;
                        margin: 0;
                    }
                .find-data {
                    display: flex;
                    justify-content: space-between;
                }

                .box-date {
                    display: flex;
                    gap: 8px;

                }
            }

            .containerStyle {
                width: 100%;
                height: fit-content;
                border-radius: 10px;
                background-color: #fff;
                position: relative;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15)
            }

            .box-loading {
                .loading {
                    color: #E8900C;
                    font-size: 50px;
                }

                .loading.theme {
                    color: #fff;
                }
            }


        }
    }


}