.layout-overview.theme{
    h5{
        
            color: #fff;
    }
    .p{
        p{
            color: #fff
           
        }
    }
}
.layout-overview{
    h5{
        font-size: 18px;
            font-weight: 500;
            color: #012970;
            font-family:sans-serif;
    }
    .p{
        display: flex;
        p{
            font-weight: 600;
            color: rgba(1, 41, 112, 0.6);
            &:first-child{
                width: 25%;
            }
            &:last-child{
                flex: 1;
            }
        }
    }
}