thead {
   
    text-align: center;
}
.col-span{
    color: white;
    font-size: 1.5rem;
    text-align: center;

}
tbody{

    .td{
        display: flex;
        
    }
}

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

