.layout-home {
    width: 100%;
    padding: 20px;
    .row {
        .col-8 {
            .left-cart-1 {
                display: flex;
                gap: 20px;
                margin-bottom: 20px;
            }

            .left-cart-2 {
                margin-bottom: 20px;
            }

            .left-cart-3 {
                margin-bottom: 20px;
            }
        }

        .col-4 {
            .right-cart-1 {
                margin-bottom: 20px;
            }

            .right-cart-2 {
                margin-bottom: 20px;

            }
        }
    }
}