.content-container.theme {
    background-color: #110f23;
    .container1 {
        h1 {
            color: #F5F5F5;
        }
    }
}
.content-container {
    display: flex;
    .container1 {
        padding: 0 20px;
        width: 100%;
        
        h1 {
            font-size: 24px;
            margin-bottom: 0;
            font-weight: 600;
            color: #012970;
            padding: 10px 0;
        }

        .content-home {
            flex: 1;
            display: flex;
            gap: 20px;
            .box-left {
                flex: 2;
                .left-box-1 {
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                }

                .left-box-2 {
                    margin-top: 20px;
                }

                .left-box-3 {
                    margin: 20px 0;
                }
                .left-box-4 {
                    margin-bottom: 20px;
                }
            }

            .box-right {
                flex: 1;
                .right-box-1 {}

                .right-box-2 {
                    margin-top: 20px;
                }
                .right-box-3{
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 1199px) {
    .content-container {
        .box-menu{
            display: none;
        }
        .container1{
            .content-home{
                display: flex;
                .box-left{
                    flex: 2;
                }
                .box-right{
                    flex: 1;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .content-container {
        .container1 {
            .content-home {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                .box-left{
                    .left-box-4{
                        margin: 0;
                    }
                }
                .box-right{
                    .right-box-2{
                        margin-bottom: 20px;
                    }
                }
            }
        }


    }

}