.content-container.theme {
    background-color: #110f23;

    .container {
        h1 {
            color: #F5F5F5;
        }
    }
}
.content-container {
    background-color: #f0f5fb;
    margin-top: 61px;

    .container {
        h1 {
            font-size: 24px;
            margin-bottom: 0;
            font-weight: 600;
            color: #012970;
            padding: 10px 0;
        }

        .content-home {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;

            .box-left {
                flex: 2;

                .left-box-1 {
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                }

                .left-box-2 {
                    margin-top: 20px;
                }

                .left-box-3 {
                    margin: 20px 0;
                }
                .left-box-4 {
                    margin-bottom: 20px;
                }
            }

            .box-right {
                flex: 1;

                .right-box-1 {}

                .right-box-2 {
                    margin-top: 20px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .content-container {
        .container {
            .content-home {
                display: flex;
                flex-direction: column;
                .box-left{
                    .left-box-4{
                        margin: 0;
                    }
                }
                .box-right{
                    .right-box-2{
                        margin-bottom: 20px;
                    }
                }
            }
        }


    }

}