.header-content {
    height: 3.75rem;
    box-shadow: 0rem 0.125rem 1.25rem rgba(1, 41, 112, 0.1);
    background-color: #fff;
    display: flex;
    gap: 0.625rem;
    padding: 0 1.25rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    .logo-text {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 0.4375rem;
        text-decoration: none;
        img {
            max-width: 1.625rem;
        }

        span {
            font-size: 1.625rem;
            font-weight: 700;
            color: #012970;
            font-family: sans-serif;
        }

        .icon-menu {
            display: none;
        }
    }

    .box-2 {

        .box-ul {
            flex: 2;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            justify-content: center;
            gap: 1rem;

            .item-li {
                list-style: none;

                .item-nav {
                    text-decoration: none;
                    color: #012970;
                    font-size: 1.2rem;
                    font-weight: bold;
                    font-family: sans-serif;

                    &:hover {
                        background-color: #f6f9ff;
                        color: #4154f1;
                    }
                }
            }
        }
    }

    .box-3 {
        flex: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
        cursor: pointer;

        .img {
            max-height: 2.25rem;
            max-width: 2.25rem;
            margin-right: 10px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }

        span {
            color: #012970;
            font-weight: bold;
        }

        .icon-care {
            font-size: 0.875rem;
        }

        .menu-con {
            position: absolute;
            top: 3rem;
            right: 0;
            min-width: 15rem;
            display: none;

            .ul-con {
                padding: 0;
                border-bottom-left-radius: 0.375rem;
                border-bottom-right-radius: 0.375rem;

                .text-center {
                    padding: 0.4375rem 0 0.4375rem 0.625rem;
                }
                .li-sign-out{
                    display: flex;
                    gap: 10px;
                    padding:7px 0 7px 10px;
                    .icon-con{
                        color: #6d6f72;
                    }
                }
                .li-con {
                    list-style: none;
                    width: 100%;
                    color: #6d6f72;
                    box-shadow: 0rem 0.125rem 1.25rem rgba(1, 41, 112, 0.1);
                    background-color: #fff;
                    border-bottom: 1px solid;
                    border-color: #d2d2d2;

                    .nav-con {
                        width: 100%;
                        text-decoration: none;
                        color: #6d6f72;
                        padding: 0.4375rem 0 0.4375rem 0.625rem;
                        display: flex;
                        align-items: center;
                        gap: 0.625rem;

                        .icon-con {
                            color: #6d6f72;
                        }
                    }

                    &:hover {
                        background-color: #f6f9ff;
                    }
                }
            }
        }
    }

    .box-3.profile-open {
        .menu-con {
            display: block;
        }
    }
}

@media (max-width: 66.25rem) {
    .header-content {
        .box-2 {
            display: none;
        }

        .logo-text {
            .icon-menu {
                display: block;
            }
        }
    }

    .header-content.menu-open {
        .box-2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: #fff;
            position: absolute;
            top: 3.75rem;
            width: 90%;
            left: 0;
            gap: 0.625rem;
            right: 0;
            border-bottom-right-radius: 0.625rem;
            padding: 1rem;
            box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.1);

            .box-ul {
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 100%;

                .item-li {
                    width: 100%;
                    border: 1px solid white;
                    transition: background-color 0.3s ease, transform 0.3s ease;

                    .item-nav {
                        border-radius: 0.375rem;
                        padding: 0.4375rem;
                        font-size: 0.9375rem;
                        width: 100%;
                        display: block;

                        &:hover {
                            background-color: #f6f9ff;
                            color: #4154f1;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 61.9375rem) {
    .header-content {
        .logo-text {
            span {
                display: none;
            }

            .icon-menu {
                display: block;
            }
        }
    }
}

@media (max-width: 767px) {
    .header-content {
        .box-3 {
            span {
                display: none;
            }

            .menu-con {
                .ul-con {
                    .li-con {
                        .icon-con{
                            display: block;
                        }
                        .nav-con {
                            .icon-con {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}