.custom-sider {
    background-color: #f9fafc;
        overflow: auto; // Cho phép cuộn nội dung nếu chiều cao vượt quá 100vh
    .menu.theme {
        background-color: #1e1e2e;

        .item-menu {
            color: #fff;

            &:hover {
                color: #fff !important;
                background-color: #2e2e3e !important;
            }

            .item-icon {}

            .item-link {
                text-decoration: none;
            }
        }

        .ant-menu-item-selected {
            color: #fff !important;
            background-color: #2e2e3e !important;

            .item-link {}

            .item-icon {}
        }
    }   
    .ant-menu{
        width: 100%;
    }

    .menu {
        background-color: #f9fafc;
        // padding: 5px;
        border: none!important;
        .item-menu {
            margin-left: 23px !important;
            color: #E8900C;

            &:hover {
                color: #E8900C !important;
                background-color: #fee7c9 !important;
                margin-left: 23px !important;
            }

            .item-icon {}

            .item-link {
                text-decoration: none;
            }
        }

        .ant-menu-item-selected {
            color: #E8900C !important;
                background-color: #fee7c9 !important;
            margin-left: 23px !important;
            .item-link {}

            .item-icon {}
        }
    }
}

@media (min-width: 1200px) {

    /* CSS cho thiết bị từ 1200px trở lên */
    .layout-table {
        height: 100%;
    }
}