.header-home.theme {
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #18172b;

    .box-button-logo {

        .button {
            color: #fff;
        }
    }

    .box-logo {
        span {
            color: #FFF;
        }
    }

    .avatar {
        span {
            color: #fff;
        }
    }
}

.header-home {
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    .box-button-logo {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 6px;
        .button {
            font-size: 16px;
            width: 64;
            height: 64;
            color: #012970;

        }
        .logo {
            display: none;

            img {
                max-width: 26px;
            }
        }

    }

    .box-logo {
        justify-content: center;
        flex: 1;
        display: flex;
        gap: 10px;

        .logo {

            img {
                max-width: 26px;
            }
        }

        span {
            display: block;
            font-size: 26px;
            font-weight: 700;
            color: #012970;
            font-family: sans-serif;
        }

    }

    .avatar {
        flex: 1;
        justify-content: end;
        .icon-sun {
            color: orange;
            font-size: 26px;
        }

        .icon-moon {
            display: block;
            color: #ADD8E6;
            font-size: 26px;
        }

        span {
            font-size: 14px;
            color: #012970;
            font-weight: 600;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .header-home {
        .box-button-logo {
            .logo {
                display: block;
            }
            
        }

        .box-logo {
            display: none;
        }
    }
}

/* Điện thoại di động (trung bình) */
@media (max-width: 768px) {
    .header-home {
        .box-button-logo {
            position: relative;
            .logo {
                display: block;
            }
            
        }

        .box-logo {
            display: none;
        }
    }
}